/**
 * /* A partir de aqui va la parte de disenio de lo que es acerca del proyecto
 *
 * @format
 */

.container-proyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #3040c4;
}

.container-proyecto h1,
p {
    color: #ffff;
}
.container-acercade {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 0;
    margin: 10%;
    border-radius: 6px;
    background-color: #2c51d3;
}

.box {
    text-align: left;
    margin: 40px;
}

.box img {
    width: 500px;
}

@media (min-width: 700px) {
    .menu-toggle {
        display: none;
    }
    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        margin-right: 10px;
        clip-path: initial;
    }
    .site-nav li {
        display: inline-block;
        border: none;
    }

    .site-nav a {
        padding: 0;
        margin-left: 3em;
    }
    .site-nav--icon {
        display: none;
    }
    .site-nav a:hover,
    .site-nav a:focus {
        background: transparent;
    }
}
@media screen and (max-width: 600px) {
    .container1 {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 100%;
        background-color: #3040c4;
    }
    .container2 {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 30px;
        height: 80%;
        width: 80%;
        border-radius: 6px;
        background-color: #2c51d3;
    }
    .box {
        margin: 30px;
    }
    .box img {
        width: 250px;
        height: 250px;
    }
}
