/**
 * reset
 *
 * @format
 */

 *,
 *::before,
 *::after {
     padding: 0;
     margin: 0;
     box-sizing: inherit;
     scroll-behavior: smooth;
 }
 /*clima*/
 :root {
     --nav-bg-color: #f36b7f;
     --main-bg-color: #3040c4;
     --resultados-color: #f8cf61;
     --text-white-color: #fff;
     --text-black-color: black;
 }
 
 html {
     box-sizing: border-box;
 }
 
 body {
     font-family: "Montserrat", sans-serif;
     font-size: 14px;
     background-color: var(--main-bg-color);
 }
 
 .container {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     grid-template-rows: 3;
     padding: 15px;
     padding-top: 60px;
     min-height: 100vh;
     border: 2px solid red;
 }
 /*Menu*/

header {
    background: #f36b7f;
    height: 60px;
    padding: 10px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.rose {
    position: relative;
    top: 4px;
    width: 180px;
}
.logo {
    position: relative;
    left: 5px;
    top: 8px;
    font-family: monospace;
}

header::after {
    content: "";
    clear: both;
    display: block;
}

.site-nav {
    top: 10px;
    position: absolute;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
}
.site-nav-open {
    clip-path: circle(150% at top right);
}
.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-nav li {
    border-bottom: 1px solid #575766;
}
.site-nav li:last-child {
    border-bottom: none;
}
.site-nav a {
    color: black;
    display: block;
    padding: 2em 4em;
    text-decoration: none;
}

.site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, 0.918);
}

.menu-toggle {
    padding-bottom: 1em;
    padding-top: 1.08em;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  }
  .menu-open .hamburger {
    transform: rotate(45deg);
  }
  .menu-open .hamburger::before {
    opacity: 0;
  }
  .menu-open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
  }
  .hamburger,
  .hamburger::before,
  .hamburger::after {
    content: '';
    display: block;
    background: black;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
  }
  .hamburger::before {
    transform: translateY(-6px);
  }
  .hamburger::after {
    transform: translateY(3px);
  }

@media (min-width: 700px) {
    .menu-toggle {
        display: none;
    }
    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        margin-right: 10px;
        clip-path: initial;
    }
    .site-nav li {
        display: inline-block;
        border: none;
    }

    .site-nav a {
        padding: 0;
        margin-left: 3em;
    }
    .site-nav--icon {
        display: none;
    }
    .site-nav a:hover,
    .site-nav a:focus {
        background: transparent;
    }
    
}
.hide {
    display: none;
}
@media screen and (max-width: 1250px) {
    .container-proyecto {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 100%;
        background-color: #3040c4;
    }
    .container-acercade {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 30px;
        height: 80%;
        width: 80%;
        border-radius: 6px;
        background-color: #2c51d3;
    }
    .box {
        margin: 30px;
    }
    .box img {
        width: 325px;
        height: 300px;
    }
}
@media only screen and (max-width: 700px) {
    header {
      background: #f36b7f;
      position: relative;
      font-size: 12px;
      padding-bottom: 1.5em;
      font-family: sans-serif;
    }
  
    .rose {
      position: relative;
      top: 13px;
    }
    .logo {
      position: relative;
      left: 5px;
      top: 8px;
      font-family: monospace;
    }
  
    header::after {
      content: '';
      clear: both;
      display: block;
    }
  
    .site-nav {
      top: 100%;
      right: 0;
      position: absolute;
      background: #f36b7f;
      clip-path: circle(0px at top right);
      transition: clip-path ease-in-out 700ms;
    }
    .site-nav-open {
      clip-path: circle(150% at top right);
    }
    .site-nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .site-nav li {
      border-bottom: 1px solid #575766;
    }
    .site-nav li:last-child {
      border-bottom: none;
    }
    .site-nav a {
      color: black;
      display: block;
      padding: 2em 4em;
      text-decoration: none;
    }
  
    .site-nav--icon {
      display: inline-block;
      font-size: 1.5em;
      margin-right: 1em;
      width: 1.1em;
      text-align: right;
      color: rgba(255, 255, 255, 0.918);
    }
  
    .menu-toggle {
      padding-bottom: 1em;
      padding-top: 1.08em;
      padding-left: 1em;
      padding-right: 1em;
      position: absolute;
      top: 0.5em;
      right: 0.5em;
    }
    .menu-open .hamburger {
      transform: rotate(45deg);
    }
    .menu-open .hamburger::before {
      opacity: 0;
    }
    .menu-open .hamburger::after {
      transform: translateY(-3px) rotate(-90deg);
    }
    .hamburger,
    .hamburger::before,
    .hamburger::after {
      content: '';
      display: block;
      background: black;
      height: 3px;
      width: 1.75em;
      border-radius: 3px;
      transition: all ease-in-out 500ms;
    }
    .hamburger::before {
      transform: translateY(-6px);
    }
    .hamburger::after {
      transform: translateY(3px);
    }
  }

  /*Contacto*/
  .container-contacto {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  background-color: #3040c4;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #2c51d3;
    border-radius: 6px;
    padding: 50px;
    width: 275px;
    height: 300px;
}
a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.contacto a:hover{
    color: #f8cf61;
}

.contacto h2{
    color: #f8cf61;
    padding: 10px;
   }

.contacto img {
    border: 5px solid white;
    border-radius: 50%;
    width: 100px;
    height:100px;
}

@media screen and (max-width: 700px) {
    .container-contacto {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        flex-direction: column;
        padding: 0%;
        margin: 30%;
        height: 100%;
        background-color: #3040c4;
    }
    .contacto{
        margin: 30%;
    }
}
@media screen and (max-width: 1200px) {
    .container-contacto {
        display: flex;
        justify-content:center;
        flex-direction: row;
        padding: 0;
        margin: 40%;
        margin-top: 20%;
        height: 50%;
        background-color: #3040c4;
    }
    .contacto{
        margin-left: 10%;
        margin-right: 10%;
    
    }
}