/** @format */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900");

/** Reset */
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}
:root {
    --nav-bg-color: #f36b7f;
    --main-bg-color: #3040c4;
    --prim-bg-color: #2c51d3;
    --sec-bg-color: #9fbfff;
    --footer-bg-color: #272429;
    --resultados-color: #f8cf61;
    --text-white-color: #fff;
    --text-black-color: black;
}

.container,
.main-content,
.row,
.container-fondo,
.box,
.container-buscador__clima,
.custom-search,
.container-resultados__pronostico,
.container-resultados__datosciudad,
.container-resultados__datosciudad--info,
.container-resultados_datosciudad--descripcion,
.container-resultados__pronosticosemanal--container,
.container-resultados__pronosticosemanal--container-pronosticos,
.main-acercade,
.container-acercade,
.acercade-texto,
.acercade-texto h1,
.acercade-img,
.acercade-img img,
.container-contacto-miembros,
.contacto,
footer {
    display: flex;
}

/* Estructura */
.container {
    flex-flow: column;
    min-height: 100vh;
    background-color: var(--main-bg-color);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

header,
footer,
.main-content {
    padding: 18px;
}

main {
    padding-top: 75px;
    flex: 1;
}

header {
    color: var(--text-black-color);
    background-color: var(--nav-bg-color);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1030;
    right: 0;
}

header::after {
    content: "";
    clear: both;
    display: block;
}

.header-logo {
    width: 180px;
}

.row {
    width: 100%;
}

.col {
    flex: 50%;
}
/* Contenedores */
.container-fondo {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: center top no-repeat;
    width: 50%;
}

.box {
    flex-flow: column wrap;
}
.box > * {
    flex: 1 1 100%;
    margin: 15px;
}

.container-buscador__clima {
    justify-content: center;
    align-items: center;
}

/*Búsqueda */

.custom-search {
    width: 80%;
    margin-bottom: 90px;
    font-family: "Montserrat", sans-serif;
}

input[type="search"] {
    width: 400px;
    border-radius: 16px;
    background-color: #ffffff;
    outline: none;
    border: none;
    padding-left: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.btn {
    cursor: pointer;
    margin-left: -19.5%;
    height: 45px;
    width: 100px;
    background: var(--resultados-color);
    border: none;
    outline: inherit;
    color: var(--main-bg-color);
    border-radius: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
/*Pronóstico*/
.container-resultados__pronostico {
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    padding: 15px;
    background-color: var(--prim-bg-color);
}

.container-resultados__pronostico--titulo {
    text-transform: uppercase;
    color: var(--text-white-color);
}

.container-resultados__pronostico--fechayhora {
    color: var(--resultados-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.17em;
}

.container-resultados__datosciudad {
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    padding: 15px;
    background-color: var(--prim-bg-color);
}

.container-resultados__datosciudad--info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.container-resultados_datosciudad--descripcion {
    flex-direction: column;
    justify-content: space-between;
}

.container-resultados__datosciudad--descripcionbtn {
    background-color: var(--resultados-color);
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    border: none;
    border-radius: 16px;
    padding: 8px 14px;
    margin: 5px;
    cursor: pointer;
    outline: none;
    color: var(--main-bg-color);
}

.container-resultados__datosciudad--descripcionbtn:active {
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-resultados__datosciudad--ciudad {
    font-size: 20px;
    color: var(--text-white-color);
}

.container-resultados__datosciudad--descripcionclima {
    color: var(--text-white-color);
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.container-resultados__datosciudad--temperatura {
    color: var(--resultados-color);
    font-size: 79px;
    font-weight: 700;
}

.container-resultados__pronosticosemanal {
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 15px;
    background-color: var(--prim-bg-color);
}

.container-resultados__pronosticosemanal--container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-white-color);
    border-radius: 16px;
}

.container-resultados__pronosticosemanal--container-pronosticos {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.container-resultados__pronosticosemanal--pronosticos {
    text-align: center;
    width: 20%;
    border-image: linear-gradient(
            180deg,
            hsla(0, 0%, 87.1%, 0) 0,
            #dedede 25%,
            #dedede 70%,
            hsla(0, 0%, 87.1%, 0) 85%,
            hsla(0, 0%, 87.1%, 0)
        )
        1 100%;
    border-style: solid;
    border-width: 0 1px 0 0;
}

.container-resultados__pronosticosemanal--pronosticos:last-child {
    text-align: center;
    width: 20%;
    border: none;
}

.container-resultados__pronosticosemanal--pronosticos-tempmax {
    color: var(--main-bg-color);
}

.container-resultados__pronosticosemanal--pronosticos-tempmin {
    color: #8db3ff;
    margin-bottom: 0;
}

.container-resultados__pronosticosemanal--pronosticos-preci {
    padding: 15px;
    margin: 0;
}
.container-resultados__pronosticosemanal--pronosticos-hume {
    margin-top: 0;
}

.hoy {
    font-weight: 700;
}

/*Acerca de */
.main-acercade {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}
.container-acercade {
    padding: 0;
    margin: 0;
    border-radius: 16px;
    color: var(--text-white-color);
    background-color: var(--prim-bg-color);
}
.acercade-texto {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 50%;
}
.acercade-texto h1 {
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.acercade-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.acercade-img img {
    justify-content: center;
    align-items: center;
    max-width: 500px;
}
.main-acercade h1 {
    color: var(--text-white-color);
}
/*Contacto */

.container-contacto h2 {
    color: var(--resultados-color);
}

.container-contacto-titulo {
    margin-top: 100px;
    border-radius: 16px;
    color: var(--text-white-color);
    background-color: var(--prim-bg-color);
    padding: 40px 70px 60px;
}

.contacto {
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #2c51d3;
    padding: 30px;
    width: 25%;
    height: auto;
}

.contacto img {
    border: 5px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.contacto a {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.contacto a:hover {
    color: #f8cf61;
}

.contacto-form {
    /*estilos del form*/
}

footer {
    color: var(--text-white-color);
    font-size: 0.8rem;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: relative;
    background-color: var(--footer-bg-color);
}
footer::before {
    background-image: url("/assets/footer_1.png");
    background-size: cover;
    content: "";
    width: 100%;
    height: 30px;
    position: absolute;
    transform: translate(-0%, -160%);
}
footer img {
    width: 14px;
}
/*Navegacion*/
.site-nav {
    top: 100%;
    background: #f36b7f;
    right: 0;
    position: absolute;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
}
.site-nav-open {
    clip-path: circle(150% at top right);
    top: 100%;
}
.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav a {
    color: var(--text-black-color);
    display: block;
    padding: 2em 4em;
    text-decoration: none;
}

.site-nav--icon {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, 0.918);
    cursor: pointer;
}

.menu-toggle {
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 2em;
    position: absolute;
    top: 1.2em;
    right: 0.5em;
    cursor: pointer;
}
.menu-open .hamburger {
    transform: rotate(45deg);
}
.menu-open .hamburger::before {
    opacity: 0;
}
.menu-open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}
.hamburger,
.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    background: var(--text-black-color);
    height: 3px;
    width: 1.75em;
    border-radius: 16px;
    transition: all ease-in-out 500ms;
}
.hamburger::before {
    transform: translateY(-6px);
}
.hamburger::after {
    transform: translateY(3px);
}

/*Extras*/

.error {
    font-weight: 600;
    padding-left: 15px;
    padding-top: 12px;
    color: #f36b7f;
}

.shadow {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Media Queries */
/*menu responsive */
@media (min-width: 700px) {
    .menu-toggle {
        display: none;
    }
    .site-nav {
        top: 10px;
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        margin-right: 10px;
        clip-path: initial;
    }
    .site-nav li {
        display: inline-block;
        border: none;
    }

    .site-nav a {
        padding: 0;
        margin-left: 3em;
    }
    .site-nav--icon {
        display: none;
    }
    .site-nav a:hover,
    .site-nav a:focus {
        background: transparent;
    }
}

/*Media Queries */


@media only screen and (max-width: 1010px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    .col {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        flex: 100%;
    }
    .container {
        display: flex;
        flex-flow: column;
    }

    .container-resultados {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .container-resultados__pronostico {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .container-resultados__datosciudad {
        align-items: center;
    }
    .container-resultados__datosciudad--info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        height: 280px;
    }
    .container-resultados__datosciudad--temperatura {
        font-size: 40px;

        padding: 0;
        margin: 0;
    }

    .container-resultados__pronosticosemanal--container-pronosticos {
        display: flex;
        flex-direction: column;
    }

    .container-resultados__pronosticosemanal--container-pronosticos {
        min-width: 80vw;
    }
    .container-resultados__pronosticosemanal--pronosticos {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 10px;
        -webkit-border-image: -webkit-linear-gradient(
                left,
                hsla(0, 0%, 87.1%, 0) 0,
                #dedede 25%,
                #dedede 70%,
                hsla(0, 0%, 87.1%, 0) 85%,
                hsla(0, 0%, 87.1%, 0)
            )
            0 0 100% 0/0 0 1px 0 stretch;
        -moz-border-image: -moz-linear-gradient(
                left,
                hsla(0, 0%, 87.1%, 0) 0,
                #dedede 25%,
                #dedede 70%,
                hsla(0, 0%, 87.1%, 0) 85%,
                hsla(0, 0%, 87.1%, 0)
            )
            0 0 100% 0/0 0 1px 0 stretch;
        -o-border-image: -o-linear-gradient(
                left,
                hsla(0, 0%, 87.1%, 0) 0,
                #dedede 25%,
                #dedede 70%,
                hsla(0, 0%, 87.1%, 0) 85%,
                hsla(0, 0%, 87.1%, 0)
            )
            0 0 100% 0/0 0 1px 0 stretch;
        border-image: linear-gradient(
                to left,
                hsla(0, 0%, 87.1%, 0) 0,
                #dedede 25%,
                #dedede 70%,
                hsla(0, 0%, 87.1%, 0) 85%,
                hsla(0, 0%, 87.1%, 0)
            )
            0 0 100% 0/0 0 1px 0 stretch;
        border-style: solid;
    }
    .container-resultados__pronosticosemanal--pronosticos:last-child {
        width: 100%;
    }
    .container-resultados__pronosticosemanal--pronosticos-tempmin {
        margin: 0;
    }

    .hoy {
        font-weight: 700;
        text-align: center;
        margin-left: 15px;
    }

    .container-resultados__pronosticosemanal--pronosticos-dia {
        font-size: 0.9rem;
        padding: 0;
    }
    .container-resultados__pronosticosemanal--pronosticos-icono {
        width: 50px;
    }
    .container-resultados__pronosticosemanal--pronosticos-preci {
        padding: 0;
    }
    footer::before {
        width: 100%;
        height: 30px;
        transform: translate(-0%, -180%);
    }

    .container-fondo {
        width: 100%;
        padding-top: 25px;
    }
    .container-buscador__clima {
        width: 80%;
    }

    .custom-search {
        display: flex;
        width: 100%;
        margin-bottom: 15px;
    }

    input[type="search"] {
        height: 45px;
        border-radius: 16px;
        flex: 0 1 100%;
    }

    .btn {
        cursor: pointer;
        margin-left: -10.5%;
    }
    /*Acerca de */

    .container-acercade {

        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 15px 0;
    }
    .acercade-texto {
        width: 100%;
        padding: 25px;
    }
    .acercade-texto h1 {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .acercade-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .acercade-img img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
    }

    .copyright {
        padding: 0 20px;
        text-align: center;
        line-height: 1.5;
    }

    .container-contacto {
        margin-top: 15px;
    }
    .container-contacto-miembros {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .contacto {
        width: 100%;
    }
    .container-contacto h1 {
        text-align: center;
    }
}

/*Media Queries */
@media only screen and (max-width: 500px) {
    header {
        position: fixed;
    }
    .container-buscador__clima {
        width: 90%;
    }

    .custom-search {
        text-align: center;
        margin-bottom: 15px;
        width: 90%;
    }

    input[type="search"] {
        height: 45px;
        border-radius: 16px;
    }
    .container-resultados__pronosticosemanal--pronosticos {
        flex-flow: column;
    }
    .container-resultados__pronosticosemanal--pronosticos img {
        width: 100px;
    }
    .container-resultados__pronosticosemanal--pronosticos-tempmax {
        font-size: 48px;
        margin: 15px;
    }
    .container-resultados__pronosticosemanal--pronosticos-preci {
        padding: 15px;
    }
}
