*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

/* variables */
:root {
  --nav-bg-color: #f36b7f;
  --main-bg-color: #3040c4;
  --resultados-color: #f8cf61;
  --text-white-color: #fff;
  --text-black-color: black;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* h2 {
  color: green; 
} */

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--nav-bg-color);
  /* height: 8vh; */
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3;
  padding: 15px;
  background-color: var(--main-bg-color);
  height: 100%;
}

.container-resultados__pronostico {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 6px;
  margin: 10px 0px;
}

.container-resultados__pronostico--titulo {
  text-transform: uppercase;
  color: var(--text-white-color);
}

.container-resultados__pronostico--fechayhora {
  color: var(--resultados-color);
  font-weight: 700;
  text-transform: uppercase;
}

.container-resultados__datosciudad {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 6px;
  margin: 30px 0px;
}

.container-resultados__datosciudad--info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-resultados_datosciudad--descripcion {
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.container-resultados__datosciudad--descripcionbtn {
  cursor: pointer;
  background-color: var(--resultados-color);
  outline: inherit;
  color: var(--main-bg-color);
  padding: 4px;
  border-radius: 6px;
  font-weight: 700;
  border: none;
}

.container-resultados__datosciudad--descripcionbtn:active {
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-resultados__datosciudad--ciudad {
  font-size: 20px;
  color: var(--text-white-color);
}

.container-resultados__datosciudad--descripcionclima {
  color: var(--text-white-color);
  font-size: 18px;
}

.container-resultados__datosciudad--temperatura {
  color: var(--resultados-color);
  font-size: 79px;
  font-weight: 700;
}

.container-resultados__pronosticosemanal {
  display: grid;
  justify-content: center;
  padding: 20px 10px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 6px;
  margin: 30px 0px;
}

.container-resultados__pronosticosemanal--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--text-white-color);
  border-radius: 6px;
}

.container-resultados__pronosticosemanal--titulo {
  padding: 10px;
}

.container-resultados__pronosticosemanal--container-pronosticos {
  display: flex;
  flex-wrap: wrap;
  max-width: 45vw;
  justify-content: center;
}
.container-resultados__pronosticosemanal--pronosticos {
  padding: 20px 10px;
  text-align: center;
  /* border-right: 1px solid green; */
}
/* 
.container-resultados__pronosticosemanal--pronosticos::after {
  content: '';
  border-left: 1px solid green;
} */

.container-resultados__pronosticosemanal--pronosticos-tempmax {
  color: var(--main-bg-color);
}

.container-resultados__pronosticosemanal--pronosticos-tempmin {
  color: #8db3ff;
}

.hoy {
  font-weight: 700;
}

@media only screen and (max-width: 480px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .container-resultados__pronostico {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container-resultados__datosciudad {
    align-items: center;
  }
  .container-resultados__datosciudad--info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container-resultados__pronosticosemanal--container-pronosticos {
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
  }

  .container-resultados__pronosticosemanal--container-pronosticos {
    min-width: 80vw;
  }
}
