/** @format */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    scroll-behavior: smooth;
}
/*clima*/
:root {
    --nav-bg-color: #f36b7f;
    --main-bg-color: #3040c4;
    --resultados-color: #f8cf61;
    --text-white-color: #fff;
    --text-black-color: black;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    min-height: 100vh;
    width: 100%;
}

.container-fondo {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 1em;
    width: 100%;
    min-height: 90vh;
    background: left top no-repeat;
}

.container-resultados {
    display: flex;
    flex-flow: column;
    padding: 15px;
    justify-content: space-around;
    background-color: transparent;
    width: 50%;
}

.container-buscador__clima {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 250px;
    width: 50%;
}

.custom-search {
    display: flex;
    width: 60%;
    position: absolute;
    top: 300px;
    left: 80px;
}
input[type="search"] {
    width: 50%;
    height: 45px;
    border-radius: 20px;
    background-color: #ffffff;
    outline: none;
    border: none;
    padding-left: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

.btn {
    cursor: pointer;
    margin-left: -21.5%;
    height: 45px;
    width: 120px;
    background: var(--resultados-color);
    border: none;
    outline: inherit;
    color: var(--main-bg-color);
    padding: 14px;
    border-radius: 6px;
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.no-encontrada {
    color: white;
}

.container-resultados__pronostico {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: #2c51d3;
    border-radius: 6px;
    margin: 10px 0px;
}

.container-resultados__pronostico--titulo {
    text-transform: uppercase;
    color: var(--text-white-color);
}

.container-resultados__pronostico--fechayhora {
    color: var(--resultados-color);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.17em;
}

.container-resultados__datosciudad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: #2c51d3;
    border-radius: 6px;
    margin: 30px 0px;
}

.container-resultados__datosciudad--info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-resultados_datosciudad--descripcion {
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

.container-resultados__datosciudad--descripcionbtn {
    cursor: pointer;
    background-color: var(--resultados-color);
    outline: inherit;
    color: var(--main-bg-color);
    padding: 14px;
    border-radius: 6px;
    font-weight: 700;
    border: none;
    margin-top: 20px;
    font-size: 1.1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.container-resultados__datosciudad--descripcionbtn:active {
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-resultados__datosciudad--ciudad {
    font-size: 20px;
    color: var(--text-white-color);
}

.container-resultados__datosciudad--descripcionclima {
    color: var(--text-white-color);
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.container-resultados__datosciudad--temperatura {
    color: var(--resultados-color);
    font-size: 79px;
    font-weight: 700;
}

.container-resultados__pronosticosemanal {
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    background-color: #2c51d3;
    border-radius: 6px;
    margin: 30px 0px;
}

.container-resultados__pronosticosemanal--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-white-color);
    border-radius: 6px;
}

.container-resultados__pronosticosemanal--titulo {
    padding: 10px;
}

.container-resultados__pronosticosemanal--container-pronosticos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 45vw;
    justify-content: center;
}
.container-resultados__pronosticosemanal--pronosticos {
    padding: 20px 10px;
    text-align: center;
}

.container-resultados__pronosticosemanal--pronosticos-tempmax {
    color: var(--main-bg-color);
}

.container-resultados__pronosticosemanal--pronosticos-tempmin {
    color: #8db3ff;
}

.hoy {
    font-weight: 700;
}

.error {
    font-weight: 600;
    padding-left: 15px;
    padding-top: 12px;
    color: #f36b7f;
}

/*Menu*/

header {
    background: #f36b7f;
    height: 60px;
    padding: 10px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

.rose {
    position: relative;
    top: 4px;
    width: 180px;
}
.logo {
    position: relative;
    left: 5px;
    top: 8px;
}

header::after {
    content: "";
    clear: both;
    display: block;
}

.site-nav {
    top: 10px;
    position: absolute;
    clip-path: circle(0px at top right);
    transition: clip-path ease-in-out 700ms;
}
.site-nav-open {
    clip-path: circle(150% at top right);
}
.site-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.site-nav li {
    border-bottom: 1px solid #575766;
}
.site-nav li:last-child {
    border-bottom: none;
}
.site-nav a {
    color: black;
    display: block;
    padding: 2em 4em;
    text-decoration: none;
}

.menu-toggle {
    padding-bottom: 1em;
    padding-top: 1.08em;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    margin-top: 5px;
    right: 5px;
    cursor: pointer;
}
.menu-open .hamburger {
    transform: rotate(45deg);
}
.menu-open .hamburger::before {
    opacity: 0;
}
.menu-open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}
.hamburger,
.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    background: black;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}
.hamburger::before {
    transform: translateY(-6px);
}
.hamburger::after {
    transform: translateY(3px);
}

/*Acerca de */

.container-proyecto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #3040c4;
    color: #ffff;
}

.container-proyecto h1 {
    padding-bottom: 15px;
}
.container-acercade {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    padding: 0;
    margin: 10%;
    border-radius: 6px;
    background-color: #2c51d3;
}

.box {
    text-align: left;
    margin: 40px;
}

.box img {
    width: 500px;
}

/*menu responsive */
@media (min-width: 700px) {
    .menu-toggle {
        display: none;
    }
    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        margin-right: 10px;
        clip-path: initial;
    }
    .site-nav li {
        display: inline-block;
        border: none;
    }

    .site-nav a {
        padding: 0;
        margin-left: 3em;
    }
    .site-nav--icon {
        display: none;
    }
    .site-nav a:hover,
    .site-nav a:focus {
        background: transparent;
    }
}


@media screen and (max-width: 480px) {
    .container-proyecto {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 100%;
        background-color: #3040c4;
    }
    .container-acercade {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 30px;
        height: 80%;
        width: 80%;
        border-radius: 6px;
        background-color: #2c51d3;
    }
    .box {
        margin: 30px;
    }
    .box img {
        width: 250px;
        height: 250px;
    }
}

@media only screen and (min-width: 700px) {
    .menu-toggle {
        display: none;
    }
    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        margin-right: 10px;
        clip-path: initial;
    }
    .site-nav li {
        display: inline-block;
        border: none;
    }

    .site-nav a {
        padding: 0;
        margin-left: 3em;
    }
    .site-nav--icon {
        display: none;
    }
    .site-nav a:hover,
    .site-nav a:focus {
        background: transparent;
    }
}
/* acerca de responsive */
@media screen and (max-width: 600px) {
    .container-proyecto {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        height: 100%;
        background-color: #3040c4;
    }
    .container-acercade {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 30px;
        height: 80%;
        width: 80%;
        border-radius: 6px;
        background-color: #2c51d3;
    }

    .box {
        margin: 30px;
    }
    .box img {
        width: 325px;
        height: 300px;
    }
}

/* containers responsive */
@media only screen and (max-width: 1008px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .container-fondo {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .container-resultados {
        display: flex;
        flex-flow: column;
        padding: 15px;
        justify-content: space-around;
        background-color: transparent;
        width: 90%;
    }

    .custom-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: absolute;
        left: 15px;
    }

    .container-resultados__pronostico {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-resultados__datosciudad {
        align-items: center;
    }
    .container-resultados__datosciudad--info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container-resultados__pronosticosemanal--container-pronosticos {
        display: flex;
    }

    .container-resultados__pronosticosemanal--container-pronosticos {
        min-width: 80vw;
    }

    header::after {
        content: "";
        clear: both;
        display: block;
    }

    .site-nav {
        top: 100%;
        right: 0;
        position: absolute;
        background: #f36b7f;
        clip-path: circle(0px at top right);
        transition: clip-path ease-in-out 700ms;
    }
    .site-nav-open {
        clip-path: circle(150% at top right);
    }
    .site-nav ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .site-nav li {
        border: none;
    }
    .site-nav li:last-child {
        border-bottom: none;
    }
    .site-nav a {
        color: black;
        display: block;
        padding: 2em 4em;
        text-decoration: none;
        font-size: 0.9rem;
    }

    .site-nav--icon {
        display: inline-block;
        font-size: 1.5em;
        margin-right: 1em;
        width: 1.1em;
        text-align: right;
        color: rgba(255, 255, 255, 0.918);
        cursor: pointer;
    }

    .menu-toggle {
        padding-bottom: 1em;
        padding-top: 1.08em;
        padding-left: 1em;
        padding-right: 1em;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
    }
    .menu-open .hamburger {
        transform: rotate(45deg);
    }
    .menu-open .hamburger::before {
        opacity: 0;
    }
    .menu-open .hamburger::after {
        transform: translateY(-3px) rotate(-90deg);
    }
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        content: "";
        display: block;
        background: black;
        height: 3px;
        width: 1.75em;
        border-radius: 3px;
        transition: all ease-in-out 500ms;
    }
    .hamburger::before {
        transform: translateY(-6px);
    }
    .hamburger::after {
        transform: translateY(3px);
    }
  }

